<h1>Login</h1>



<form method=get action="/login_through">

  ユーザー名<input type="text" name="name">
  password <input type="password" name="pass">
  <input type="submit" value="ログイン">
</form>

<br>
初めての方はこちら ▶︎ <input type="submit" value="新規登録">

<br>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>




<br><br>
<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
