<h1>Login</h1>



<form method=get action="/login_through">

  ユーザー名<input type="text" name="name">
  password <input type="password" name="pass">
  <input type="submit" value="ログイン">
</form>

<br>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<br><br><br>
初めての方はこちら ▶︎
  <button action=sighnup type="post" class="btn btn--pt1 btn--large w-block txt_size_16">無料会員登録</button>
</a><br><br><br>
