<h1>mypage</h1>
ID: <%= @user.id %> <br>
ユーザー名:  <%= @user.name %><br>
<応募履歴>






<br><br><br>
 <%= @user.name %>さん ログイン中
  <form action="logout_through">
    <input type="submit" value="ログアウト">
  </form>
