<h1>Login</h1>

<form accept-charset="UTF-8" action="/login" method="post">
  <input name="authenticity_token" type="hidden" value="1234" />

  <label for="session_name">Name</label>
  <input class="form-control" id="session_name"
         name="session[email]" type="text" />

  <label for="session_password">Password</label>
  <input id="session_password" name="session[password]"
         type="password" />

  <input class="btn btn-primary" name="commit" type="submit"
       value="Log in" />
</form>

<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
