<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>新規登録</title>
  </head>
  <body>
    <h1>新規登録</h1>

    <form action="sighnup_through" method="post">
    <input name="authenticity_token" type="hidden" value="1234" />
      名前：<input type="text" name="name"  size="80">　<br><br>
      年齢：<input type="text" name="age"  size="80">  <br><br>
      性別：<input type="radio" name="sex" value="女性" >女性  <br><br>
      <input type="radio" name="sex" value="男性" >男性  <br><br>
      パスワード：<input type="text" name="pass" size="80">  <br><br>

         <button action="sighnup_through" method="post" class="btn btn--pt1 btn--large w-block txt_size_16">
           登録する
         </button></a><br><br>
    </form>





  </body>
</html>
