  <h1>rejob_案件詳細</h1>
  <p>title:  </p>
  <p>都道府県：</p>


  <a href="/entry">
    <button type="new">応募</button>
  </a><br><br>

<a href="/top">topに戻る</a><br>
<p>Find me in app/views/front/view.html.erb</p>
