<head>
<style type="text/css">

h1 {
margin: 0px 30px;
padding: 0;
}

section,p {
margin: 0px 60px;
padding: 0;
}

form {
margin: 0px 60px;
padding: 0;
}

</style>
</head>


  <h1 class=heading1-pt1>案件詳細</h1>
  <p>title: <%= @job.title %> </p>
  <p>都道府県： <%= @job.area %> </p>


  <a href="/entry?id=<%= @job.id %>">
    <br><br>
    <button type="new" class="btn btn--pt3 btn--entry01 btn--kantan w-block">応募する</button>
  </a><br><br>

<a href="/top">topに戻る</a><br>
<p>Find me in app/views/front/view.html.erb</p>
<br><br><br><br><br><br><br><br>
