<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>REJOB_top</title>
  </head>



    <a class="header-middle__logo" href="/">
    <img class="logo_header" src="https://relax-job.com/images/user_frontend/pc/logo_header.png" alt="Logo header"></a>


      <h1 class="txt_size_18 mb_30">REJOB_top</h1>

      <div class="heading2-pt2 heading2-pt2--border-bt">
            <h2><a href="/search">一覧ページへ</a></h2>
      </div>

      <div class="heading2-pt2 heading2-pt2--border-bt">
            <h2><a href="/login">ログインページへ</a></h2>
      </div>

        <br>



        <div class="cols_4"><button name="button" type="submit" class="btn btn--xsmall btn--pt3 w-100px">カンタン検索</button>
                      <a href="/search_form" rel="nofollow" class="quick_search__inner__detail">詳しい条件で検索</a>
                    </div>

                    <div class="cols_6 f_left">
                      <dl class="footer-nav">

                      </dl>

        <span class="go-top" id="scroll-top"></span>

        <div class="copyright">
      <div class="container t_left">
        <small>© REJOB Co.,Ltd. All Rights Reserved.</small>
      </div>
    </div>

                    </div>

                    <div class="footer">
                        <div class="container">
                          <div class="row row-mg footer--content">
                            <div class="cols_6 f_left">
                              <dl class="footer-nav">
                                <dt><a href="https://relax-job.com/biyo">美容</a></dt>
                                <dd>
                                  <ul class="ul-inline ul-inline--col5 ul--p_tb2">
                                    <li><a href="https://relax-job.com/esthe">エステ</a></li>
                                    <li><a href="https://relax-job.com/nail">ネイル</a></li>
                                    <li><a href="https://relax-job.com/eyelist">アイリスト</a></li>
                                    <li><a href="https://relax-job.com/biyoshi">美容師</a></li>
                                    <li><a href="https://relax-job.com/biyobuin">美容部員</a></li>
                                  </ul>
                                </dd>

                                <dt><a href="https://relax-job.com/relaxation"> リラクゼーション</a></dt>
                                <dd>
                                  <ul class="ul-inline ul-inline--col5 ul-inline--p_tb5">
                                    <li><a href="https://relax-job.com/therapist">セラピスト</a></li>
                                    <li><a href="https://relax-job.com/massage">マッサージ</a></li>
                                    <li><a href="https://relax-job.com/reflexology">リフレ</a></li>
                                    <li><a href="https://relax-job.com/aroma">アロマ</a></li>
                                    <li><a href="https://relax-job.com/seitai">整体師</a></li>
                                    <li><a href="https://relax-job.com/chiropractic">カイロ</a></li>
                                  </ul>
                                </dd>
                              </dl>
                              <div class="row row-mg clear">
                                <div class="cols_6">
                                  <dl class="footer-nav">
                                    <dt><a href="https://relax-job.com/chiryo">治療</a></dt>
                                    <dd>
                                      <ul class="ul-inline ul-inline--col3 ul-inline--p_tb5">
                                        <li><a href="https://relax-job.com/jusei">柔道整復師</a></li>
                                        <li><a href="https://relax-job.com/shinkyu">鍼灸師</a></li>
                                        <li><a href="https://relax-job.com/massageshi">マッサージ師</a></li>
                                      </ul>
                                    </dd>
                                  </dl>
                                </div>
                                <div class="cols_6">
                                  <dl class="footer-nav">
                                    <dt><a href="https://relax-job.com/sports">スポーツ・フィットネス</a></dt>
                                    <dd>
                                      <ul class="ul-inline ul-inline--col3 ul-inline--p_tb5">
                                        <li><a href="https://relax-job.com/yoga">ヨガ</a></li>
                                        <li><a href="https://relax-job.com/fitness">フィットネス</a></li>
                                      </ul>
                                    </dd>
                                  </dl>
                                </div>
                              </div>
                              <dl class="footer-nav">
                                <dt><a href="https://relax-job.com/kaigo">リジョブ 介護</a></dt>
                                <dd>
                                  <ul class="ul-inline ul-inline--col5 ul-inline--p_tb5">
                                    <li><a href="https://relax-job.com/kaigo">介護</a></li>
                                  </ul>
                                </dd>
                              </dl>
                            </div>



    <%= stylesheet_link_tag "application", media: "all" %>

        link_to '', :controller => 'front', :action => 'search', :id => 1
        <p>Find me in app/views/front/search.html.erb</p>
  </body>
</html>
