<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
  </head>




      <h1 class="txt_size_18 mb_30">のかちんのREJOB</h1>

      <div class="heading2-pt2 heading2-pt2--border-bt">
            <h2><a href="/search">一覧ページへ</a></h2>
      </div>

      <div class="heading2-pt2 heading2-pt2--border-bt">
            <h2><a href="/login">ログインページへ</a></h2>
      </div>

        <br>





                    <div class="cols_6 f_left">
                      <dl class="footer-nav">

                      </dl>

        <span class="go-top" id="scroll-top"></span>

        <div class="copyright">
      <div class="container t_left">
        <small>© REJOB Co.,Ltd. All Rights Reserved.</small>
      </div>
    </div>





    <%= stylesheet_link_tag "application", media: "all" %>

        link_to '', :controller => 'front', :action => 'search', :id => 1
        <p>Find me in app/views/front/search.html.erb</p>
  </body>
</html>

<br><br><br><br><br><br><br><br><br>
