
    <h1>管理画面＿求人編集ページ</h1>

    <form_for( @job )>
    <%= form_for @user do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :introduction %>
    <% end %>


    <a href="/admin_new">新規作成ページへ</a>
    <a href="/admin">管理画面topページへ</a>
