<h1>エントリーフォーム</h1>


PR文
</pre>
<br><br>

<form  action="entry" method="post">
</form>

<br>
<form action="/entry_confirm?=<%=  %>" method=get>
    <input name="job_id" type="hidden" value="<%= session[:id]%>" />
  <button >確認ページへ</button>
</form><br><br>
